@font-face {
  font-family: "Lemon-Milk-Medium";
  src: local("Lemon-Milk-Medium"),
    url(../../../static/fonts/LEMONMILK-Medium.otf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "DIN-Medium";
  src: local("DIN-Medium"),
    url(../../../static/fonts/DIN-Medium.otf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "DIN-Regular";
  src: local("DIN-Regular"),
    url(../../../static/fonts/DIN-Regular.otf) format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Acrotype";
  src: local("Acrotype"),
    url(../../../static/fonts/acrotype-fixed.ttf) format("truetype");
  font-display: auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
  color: rgb(116, 111, 59);
}

.floating {
  animation: float 6s ease-in-out infinite;
  opacity: 0;
}

.floating-2 {
  animation-delay: 2s;
}
.floating-3 {
  animation-delay: 4s;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translatey(-550px);
  }
  50% {
    transform: translatey(-570px);
  }
  100% {
    opacity: 1;
    transform: translatey(-550px);
  }
}

@media (max-width: 567px) {
  @keyframes float {
    0% {
      opacity: 1;
      transform: translatey(calc(-50vw - 160px));
    }
    50% {
      transform: translatey(calc(-52vw - 160px));
    }
    100% {
      opacity: 1;
      transform: translatey(calc(-50vw - 160px));
    }
  }
}

@media (max-width: 390px) {
  @keyframes float {
    0% {
      opacity: 1;
      transform: translatey(calc(-50vw - 155px));
    }
    50% {
      transform: translatey(calc(-52vw - 155px));
    }
    100% {
      opacity: 1;
      transform: translatey(calc(-50vw - 155px));
    }
  }
}
